ul {
	margin-left: 0.5em;
}
ul li {
	padding-left: 1em;
	text-indent: -1em;
	list-style-type: none;
}
ul li:before {
	content: "・";
}
ul.caption li {
	font-size: 12px;
}
#main-content div.content {
	position: absolute;
	top: 0;
	display: none;
}
ul#demo-menu li:before {
	content: "";
}
ul#demo-menu li {
	float: left;
	list-style-type: none;
	bottom: 0;
	width: 80px;
	text-align: center;
	margin-top: 28px;
	padding: 0;
}
ul#demo-menu li a {
/*	display: block;*/
	color: #333;
	background: #bbb;
	padding: 10px;
	text-align: center;
}
ul#demo-menu li a.on,
ul#demo-menu li a.hover {
	background: #FAFAFA;
	color: #666;
}
table {
	margin-bottom: 20px;
}
table.spec-matrix,
table.spec-matrix thead tr td {
	border: none;
}
table.spec-matrix tr th {
	font-size: 10px;
	padding: 4px;
}
table.spec-matrix thead tr th {
	background: #fff;
	word-break: break-all;
}
table.spec-matrix.ipad thead tr th {
	padding: 6px;
}
table.spec-matrix thead tr th:nth-child(odd) {
	background: #eee;
}
table.spec-matrix tr:nth-child(odd) {
	/*background: #999;*/
}
table.spec-matrix thead tr th.normal {
	background: #fff;
}
table.spec-matrix thead tr th.webclip {
	background: #ccc;
}
table.spec-matrix thead tr th.fullscreen {
	background: #eee;
}
table.spec-matrix tbody tr td {
	width: 52px;
	background: transparent;
	font-size: 10px;
	line-height: 10px;
}
table.option-matrix,
table.option-matrix tr,
table.option-matrix tr th,
table.option-matrix tr td {
	border: none;
}
table.option-matrix thead tr th,
table.option-matrix tbody tr td {
	font-size: 12px;
	min-width: 100px;
	padding: 8px;
	padding-top: 14px;
	padding-bottom: 14px;
}
table.option-matrix tbody tr td:last-child {
	text-align: left;
}
table.option-matrix thead tr {
	background: #ccc;
}
table.option-matrix tbody tr:nth-child(odd) {
	background: #fff;
}
table.option-matrix tbody tr:nth-child(even) {
	background: #eee;
}
span.notes {
}
dl dt,
dl dd {
	float: left;
}
dl dt {
	clear: left;
}
dl,
dl dd {
	margin-left: 10px;
}
